# Theme configuration
# https://gohugo.io/getting-started/configuration/#configure-build

[build]
  [[build.cachebusters]]
    source = "assets/.*\\.css"
    target = "css"

[module]
  [[module.mounts]]
    source = "assets"
    target = "assets"
  [[module.mounts]]
    source = "static"
    target = "static"
  [[module.mounts]]
    source = "layouts"
    target = "layouts"
  [[module.mounts]]
    source = "data"
    target = "data"
  [[module.mounts]]
    source = "i18n"
    target = "i18n"
  [[module.mounts]]
    source = "archetypes"
    target = "archetypes"

[markup]
  [markup.highlight]
    codeFences = false
