{{- $page := .page -}}
{{- $headingLevel := .headingLevel | default "h2" -}}
<article>
  {{ printf "<%s>" $headingLevel | safeHTML }}
    <a href="{{ $page.RelPermalink }}" class="text-ctp-blue hover:text-ctp-sky transition-colors">
      {{- $page.Title -}}
    </a>
  {{ printf "</%s>" $headingLevel | safeHTML }}
  {{ if not $page.Date.IsZero }}
    <p class="text-sm text-ctp-subtext0">
      <time datetime="{{ $page.Date.Format "2006-01-02" }}">
        {{ $page.Date.Format "Jan 2, 2006" }}
      </time>
    </p>
  {{ end }}
</article>
